<form>
    <label for="email" class="form-label">Book ID</label><br>
    <input type="text" class="form-control" id="email" placeholder="Enter the book id" required /><br>

    <label for="name" class="form-label">Name</label><br>
    <input type="text" class="form-control" id="name" placeholder="Enter book name" required /><br>

    <label for="bio" class="form-label">Author</label><br>
    <input type="text" class="form-control" id="bio" placeholder="Who wrote the book?" required /><br>

    <label for="active" class="form-label">ISBN</label><br>
    <input type="text" class="form-control" id="active" placeholder="Enter ISBN of the book" required />

    <button type="button" class="btn btn-outline-success">Add</button>
    <button type="button" class="btn btn-outline-danger">Cancel</button>
</form>

