button{
    width: 10%;
    height: 8%;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    
}

a:hover{
    color: antiquewhite;
}

a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'Georgia', Times New Roman;
}
