<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <button type="button" class="btn btn-outline-danger"><a routerLink="route-form" routerLinkActive="router-link-active">Route Form</a></button>
  <button type="button" class="btn btn-outline-success"><a routerLink="profile" routerLinkActive="router-link-active">Profile</a></button>
  <button type="button" class="btn btn-outline-danger"><a routerLink="blog" routerLinkActive="router-link-active">Blog</a></button>
  <button type="button" class="btn btn-outline-success"><a routerLink="book" routerLinkActive="router-link-active" >Book</a></button>

