<form>
    <label for="email" class="form-label">Email</label><br>
    <input type="text" class="form-control" id="email" placeholder="Enter your email" required /><br>

    <label for="name" class="form-label">Name</label><br>
    <input type="text" class="form-control" id="name" placeholder="Enter your name" required /><br>

    <label for="bio" class="form-label">Bio</label><br>
    <input type="text" class="form-control" id="bio" placeholder="Enter your bio" required /><br>

    <label for="active" class="form-label">Active</label><br>
    <input type="text" class="form-control" id="active" placeholder="Are you active" required /><br>

    <button type="button" class="btn btn-outline-success">Add</button>
    <button type="button" class="btn btn-outline-danger">Cancel</button>
    


</form>
