form{
    border-color: 2px solid;
    width: 30%;
    height: 50%;
    margin-left: 2%;
    margin-top: 1%;
    
}

input{
    width: auto;
    height: auto;
    font-style: italic;
}

button{
    width: 20%;
    height: 8%;
    margin-right: 5px;

}

